table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    text-align: start;
}

table{
   margin: 0 auto;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: large;
}


.zelena{
    background-color: rgb(148,196,124);
    padding: 5px;
    width: 10px;
}

.crvena{
    background-color: rgb(232,100,100);
    padding: 5px;
    width: 10px;
}

.bijela{
    background-color: white;
    padding: 5px;
    width:  10px;
}

.prisustvo{
    padding: 5px;
    width:  10px;
}

td:first-child{
    width: fit-content;;
}

th{
    padding: 5px;
    width: fit-content;
}

td{
    height: 50px;
    padding: 10px;
    text-align: center;
    vertical-align: text-top;
    width: fit-content;
}

.vkol{
    width: 400px;
}